<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnBreak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings><add name="DataBaseLocalEntities" connectionString="metadata=res://*/OnBreakEntities.csdl|res://*/OnBreakEntities.ssdl|res://*/OnBreakEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Yhodarks\source\repos\OnBreak\DALC\DataBaseLocal.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <OnBreak.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="RembLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AltoContraste" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RutContrato" serializeAs="String">
        <value />
      </setting>
      <setting name="NumeroContrato" serializeAs="String">
        <value />
      </setting>
      <setting name="NombreEvento" serializeAs="String">
        <value />
      </setting>
      <setting name="Direccion" serializeAs="String">
        <value />
      </setting>
      <setting name="IndexTipoEvento" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IndexModalidad" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Asistentes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PAdicional" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Valor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FInicio" serializeAs="String">
        <value />
      </setting>
      <setting name="FTermino" serializeAs="String">
        <value />
      </setting>
      <setting name="Observaciones" serializeAs="String">
        <value />
      </setting>
      <setting name="Vegetariano" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ambientacion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IndexAmbientacion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Musica" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MusicaCliente" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ValorArriendo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LocalOnBreak" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalOtro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="respaldo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NombreCliente" serializeAs="String">
        <value />
      </setting>
    </OnBreak.Properties.Settings>
  </userSettings>
</configuration>
